<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Tasks</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label for="task_title">Task Title:</label>
      <input
        type="text"
        name="task_title"
        class="tasktitle"
        placeholder="eg..showering"
      />
      <br /><br />
      <label for="Start_Date">Start Date </label>
      <input type="date" name="Start_Date" class="Start_Date" />
      <br /><br />
      <label for="Start_Time">Start Time</label>
      <input type="time" name="Start_Time" class="Start_Time" />
      <br /><br />
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        rows="4"
        cols="30"
      ></textarea>
      <br /><br />
      <label for="reminder">Set Reminder(optional)</label>
      <input type="datetime-local" name="reminder" class="reminder" />
      <br /><br />
      <input type="submit" value="Add Task" />
    </form>
  </body>
</html>
