<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Completed Tasks</title>
  </head>
  <body>
    <div class="container">
        <h2>Completed Tasks ✅</h2>
{% if completedtasks %}
        {% for task in completedtasks %}
        <div class="task-card">
           <span>{{ task.title }}</span>
           <span>{{ task.scheduled_date|date:"M d, Y H:i" }}</span>
        </div>
        {% endfor %}
        {% else %}
        <p>No completed tasks found.</p>
        {% endif %}

        <a href="{% url 'home' %}" class="back-btn">🏠 Back To Home </a>











    </div>
  </body>
</html>
